* {
    box-sizing: border-box;
}

body {
    background-color: #f2f8f8;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}

hr {
    border-style: none;
    border-top-style: solid;
    border-color: grey;
    border-width: 1px;
    opacity: 0.4;
}

h1 {
    color: #28b3b3;
    font-family: 'Pacifico', cursive;
    margin-bottom: 0;
}

h3 {
    color: #28b3b3;
}

strong {
    color: #f3466b;
}

header,
main,
footer {
    padding-left: 1rem;
}

section {
    margin: 0.5rem;
    margin-left: 0;
}

th {
    color: rgb(51, 51, 51);
    text-align: left;
}

td {
    padding: 5px;
}

footer {
    margin-top: 1.5rem;
}

.container {
    display: flex;
}

.intro {
    margin: 4.25rem auto auto 1.75rem;
}

.role {
    margin-top: 0.5rem;
}

.profile-img {
    margin: 1.5rem 0 1.3rem 0;
}

.link {
    color: rgb(93, 3, 126);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    opacity: 0.7;
}

/*********** FOOTER ***********/
.page-link {
    color: rgb(0, 116, 67);
    display: block;
    font-size: 1.05rem;
    padding: 7px 14px;
    text-decoration: none;
}

.page-link:hover {
    color: white;
    opacity: 1;
    text-decoration: none;
}

.btn {
    border: 2px solid #2db189;
    border-radius: 5px;
    background-color: #f2f8f8;
    padding: 0;
    margin-right: 0.35rem;
    transition: all 0.3s ease-out;
}

.btn:hover {
    background-color: #2db189;
}

/*********** MEDIA QUERY SECTION ***********/
@media (max-width: 650px) {
    .container {
        flex-direction: column;
    }

    .profile-img {
        margin: 1rem auto 1rem 0;
    }

    .intro {
        margin: 0 auto 0.75rem 0;
    }
}
