* {
    box-sizing: border-box;
}

body {
    background-color: #e3f5f5;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

hr {
    border-style: none;
    border-top-style: solid;
    border-color: grey;
    border-width: 1px;
    opacity: 0.4;
}

h1 {
    color: #28b3b3;
    font-family: 'Pacifico', cursive;
}

h3 {
    color: #2db173;
}

a {
    color: rgb(93, 3, 126);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    opacity: 0.7;
}

strong {
    color: #f3466b;
}

header,
main,
footer {
    padding-left: 1rem;
}

section {
    margin: 0.5rem;
    margin-left: 0;
}

footer {
    margin-top: 1.5rem;
}

.container {
    display: flex;
}

.intro {
    margin: 4.65rem auto auto 1.65rem;
}

.profile-img {
    margin: 1.5rem 0 1.3rem 1.15rem; 
}

.page-link {
    color: green;
    display: block;
    font-size: 1.05rem;
    padding: 7px 14px;
}

.page-link:hover {
    color: white;
    opacity: 1;
    text-decoration: none;
}

.btn {
    border: 2px solid #2db173;
    border-radius: 5px;
    background-color: #eaf6f6;
    padding: 0;
    margin-right: 0.35rem;
    transition: all 0.3s ease-out;
}

.btn:hover {
    background-color: #2db173;
}

/* Media Query */
@media (max-width: 650px) {
    .container {
        flex-direction: column;
    }

    .profile-img {
        margin: 1rem auto 1rem .5rem;
    }

    .intro {
        margin: 0 auto .75rem .5rem;
    }
}