body {
    background-color: #eaf6f6;
    line-height: 1.15; 
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

h1 {
    color: #28b3b3;
}

h3 {
    color: #2db173;
}

strong {
    color: #f3466b;
}
